@charset "utf-8";

// Colours
$red: #920000;
$blue: #00b0e0;
$inverted: rgb(63, 54, 54);
$black: #000000;
$info: #3298dc;

$grey-lighter: rgb(50, 50, 50);
$grey: rgb(30, 30, 30);
$grey-darker: rgb(26, 24, 24);
$white: #FFFFFF;
$bright: rgb(228, 228, 228);

// Setting the derived variables
$primary: $blue;
$body-color: $grey;
$primary-invert: $white;
$title-color: $grey;
$input-icon-color: $grey;

$body-background-color: $white;
$input-color: $grey;

$column-gap: 0.75rem;
$family-sans-serif: "Helvetica", "Arial", sans-serif;

$border-dark: #222121;
$hover-dark: #696969;
$bg-dark: #3e3d3d;
$bg-darker: #353635;

$link-color: #499bd4;


$themes: (
    default: (
        bg: $white,
        card-bg: $primary,
        text: $black,
        text-secondary: $inverted,
        link: $link-color,
        hover: $grey-lighter,
        border: $black
    ),
    dark: (
        bg: $bg-darker,
        card-bg: $bg-dark,
        text: white,
        text-secondary: $white,
        link: $link-color,
        hover: $hover-dark,
        border: $border-dark
    ),
);

// Import Extensions
@import 'bulma/sass/utilities/_all.sass';
@import "../node_modules/bulma-pageloader/dist/css/bulma-pageloader.sass";

@import "bulma";
@import "../node_modules/bulma-pageloader/dist/css/bulma-pageloader.min.css"; 