@charset "utf-8";

// Colours
$red: #920000;
$blue: #00b0e0;
$inverted: rgb(63, 54, 54);
$black: #000000;
$info: #3298dc;

$grey-lighter: rgb(50, 50, 50);
$grey: rgb(30, 30, 30);
$grey-darker: rgb(26, 24, 24);
$white: #FFFFFF;
$bright: rgb(228, 228, 228);

// Setting the derived variables
$primary: #00485c;
$body-color: $grey;
$primary-invert: $white;
$title-color: $grey;
$input-icon-color: $grey;

$column-gap: 0.75rem;

// Import Extensions
@import 'bulma/sass/utilities/_all.sass';
@import "bulma-pageloader";

@import "bulma";